body {
  background-color: #F4F7FA;
}

.main {
  display: grid;
  gap: 10px;
  margin: 0 auto;
  max-width: 960px;
  margin-top: 80px;
}

@media screen and (min-width: 960px) {
  .transactions-card {
    grid-column: 1 / span 2;
  }

  .main {
    grid-template-columns: 1fr 1fr;
  }
}